{% extends 'base.twig' %}

{% block content %}

<div class="container">
    {% do action('woocommerce_before_main_content') %}

    <h1 class="heading-1" id="main-title">{{ title }}</h1>

    {% do action('woocommerce_archive_description') %}

    {% do action('woocommerce_before_shop_loop') %}

    {% if posts %}
        <div class="row list-products">

            {#
                Depending on your WooCommerce display settings, the `woocommerce_product_subcategories` function
                might reset the $wp_query global. By calling `have_posts()`, we check if there are posts we can
                display.
            #}
            {% for post in posts if fn('have_posts') %}
                <div class="col-sm-4 list-items">
                    {% include 'woocommerce/teaser-product.twig' %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% do action('woocommerce_after_shop_loop') %}
    {% do action('woocommerce_after_main_content') %}
</div>

{% endblock %}
