{% extends 'base.twig' %}

{% block content %}
    {##
     # woocommerce_before_main_content hook.
     #
     # @hooked woocommerce_output_content_wrapper - 10 (outputs opening divs for the content)
     # @hooked woocommerce_breadcrumb - 20
     # @hooked WC_Structured_Data::generate_website_data() - 30
     #}
    {% do action('woocommerce_before_main_content') %}

    <h1 class="heading-1" id="main-title">{{ title }}</h1>

    {#
     # woocommerce_archive_description hook.
     #
     # @hooked woocommerce_taxonomy_archive_description - 10
     # @hooked woocommerce_product_archive_description - 10
     #}
    {% do action('woocommerce_archive_description') %}

    {#
     # woocommerce_before_shop_loop hook.
     #
     # @hooked wc_print_notices - 10
     # @hooked woocommerce_result_count - 20
     # @hooked woocommerce_catalog_ordering - 30
     #}
    {% do action('woocommerce_before_shop_loop') %}

    {% if posts %}
        <ul class="products">
            {% do fn('woocommerce_product_subcategories') %}

            {##
             # Depending on your WooCommerce display settings, the `woocommerce_product_subcategories` function
             # might reset the $wp_query global. By calling `have_posts()`, we check if there are posts we can
             # display.
             #}
            {% for post in posts if fn('have_posts') %}
                <li class="product-items">
                    {% include 'woocommerce/teaser-product.twig' %}
                </li>
            {% endfor %}
        </ul>

    {% elseif not fn('woocommerce_product_subcategories', [{
        before: fn('woocommerce_product_loop_start', false),
        after: fn('woocommerce_product_loop_end', false)
    }]) %}
        {##
         # woocommerce_no_products_found hook.
         #
         # @hooked wc_no_products_found - 10
         #}
        {% do action('woocommerce_no_products_found') %}

    {% endif %}

    {##
     # woocommerce_after_shop_loop hook.
     #
     # @hooked woocommerce_pagination - 10
     #}
    {% do action('woocommerce_after_shop_loop') %}

    {##
     # woocommerce_after_main_content hook.
     #
     # @hooked woocommerce_output_content_wrapper_end - 10 (outputs closing divs for the content)
     #}
    {% do action('woocommerce_after_main_content') %}

    {#
     # woocommerce_sidebar hook.
     #
     # @hooked woocommerce_get_sidebar - 10
     #}
    {% do_action('woocommerce_sidebar') %}

{% endblock %}
